* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
button {
  font-family: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #383334;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 10px;
  }
}

.green-underline {
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  background-size: 100% 3px;
  background-image: linear-gradient(#a7c93d, #a7c93d);

  &--lg {
    background-size: 100% 5px;
  }
}

.orange-underline {
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  background-size: 100% 3px;
  background-image: linear-gradient(#ff6b00, #ff6b00);

  &--lg {
    background-size: 100% 5px;
  }
}

.text-orange {
  color: #ff6b00;
}

.text-green {
  color: #9dbd39;
}

.title-lg {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
}

.main-lead-container {
  padding-bottom: 150px;
  background-image: url("../img/waves.svg"),
    linear-gradient(
      to right,
      rgba(243, 249, 255, 0.5),
      rgba(243, 249, 255, 1) 60%
    ),
    url("../img/header_bg.jpg");
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-size: 120px, cover, cover;
  background-position: bottom, center, center;
}

.main-lead {
  position: relative;
  display: flex;
  height: auto;
  justify-content: space-between;
}

.lead-mikocin {
  display: inline-block;
  text-align: right;
  font-weight: 900;
  font-size: 22px;
  padding: 21px 15px;
  padding-left: 97px;
  background-image: url("../img/mikocon_full.svg");
  background-repeat: no-repeat;
  background-position: top 9px left;
  background-size: 81px;
}

.lead-mobile-only-btn {
  display: none;
}

.lead-wrap {
  z-index: 100;
}

.lead-imgs img {
  position: absolute;
  display: block;
}

.advantages-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  position: relative;
  z-index: 8;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  color: #666666;
  font-style: italic;
  font-size: 16px;
  max-width: 670px;
}

.advantages-item {
  width: 33.33%;
  position: relative;
  padding: 19px 0px;

  & p {
    padding-left: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center left;
    width: 50px;
    height: 50px;
    top: 12px;
  }

  &--the-one::before {
    background-image: url("../img/advantages-the-one.png");
  }

  &--recommend::before {
    left: 10px;
    background-image: url("../img/advantages-recommend.png");
  }

  &--clients::before {
    background-image: url("../img/advantages-clients.png");
  }
}

.about {
  max-width: 375px;
  margin-right: 10px;

  & h1 {
    color: #383334;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 44px;
    line-height: 44px;
    font-weight: 900;
  }

  & p {
    font-size: 34px;
    line-height: 38px;
    font-weight: 500;
  }

  & .title-wrap {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 575.98px) {
  .lead-mikocin {
    font-size: 35px;
    margin-bottom: 0;
  }

  .about {
    & h1 {
      font-size: 23px;
      line-height: 24px;
    }

    & p {
      font-size: 24px;
      line-height: 28px;
    }

    .titte-wrap {
      margin-bottom: 20px;
    }
  }

  .lead-mobile-only-btn {
    display: block;
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    position: relative;
    transition: 0.2s;

    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background-color: #a8ca3f;
      position: absolute;
    }

    &::before {
      transform: rotate(45deg);
      right: 19px;
    }

    &::after {
      transform: rotate(-45deg);
      left: 19px;
    }

    &.active::before {
      right: 6px;
    }

    &.active::after {
      left: 6px;
    }
  }

  .advantages-item {
    width: 100%;
  }
}

.title-wrap {
  margin-bottom: 40px;
}

.about-list {
  font-size: 20px;
  line-height: 24px;
}

.about-item:not(:last-child) {
  margin-bottom: 40px;
}

.about-item {
  padding-left: 78px;
  position: relative;
  min-height: 72px;

  &::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #a7c93d;
    border-radius: 50%;
    border: solid 7px #e8edc9;
    left: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
  }

  &--complex::before {
    content: "2в1";
  }

  &--pills::before {
    content: "1";
  }

  &--gel::before {
    content: "2";
  }

  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 40px;
    background-size: 9px;
    background-position: center;
    background-repeat: no-repeat;
    left: 25px;
    top: 65px;
  }

  &--complex::after {
    background-image: url("../img/arrow_plus.png");
  }

  &--pills::after {
    background-image: url("../img/arrow_arrow.png");
  }
}

@media screen and (max-width: 563.98px) {
  .about-item::after {
    width: 7px;
    height: 23px;
    background-size: 6px;
    left: 22px;
    top: 54px;
  }
}

.order {
  width: 270px;
  height: 100%;
}

.order-details {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 7px solid #a8ca3f;
  background-color: #ffffff;
  border-top: none;
}

.order-shipping {
  background-color: transparent;
  position: relative;
  height: 35px;
  padding: 0 50px;
  text-align: center;
  line-height: 0px;
  z-index: 8;

  &::before,
  &::after {
    content: "";
    width: 60px;
    height: 35px;
    border: 7px solid #a8ca3f;
    border-bottom: 0;
    position: absolute;
    top: 0;
    background-color: #ffffff;
  }

  &::before {
    left: 0;
    border-top-left-radius: 15px;
    border-right: none;
  }

  &::after {
    right: 0;
    border-top-right-radius: 15px;
    border-left: none;
  }
}

.order-shipping-wrap {
  height: 35px;
  width: 150px;
  margin: 0 auto;
  position: relative;
  border-bottom: 7px solid #a8ca3f;

  &::before,
  &::after {
    content: "";
    width: 15px;
    height: 35px;
    border: 7px solid #a8ca3f;
    border-top: none;
    position: absolute;
    top: 0;
    background-color: transparent;
    z-index: 11;
  }

  &::before {
    border-right: none;
    border-bottom-left-radius: 7px;
    left: -4px;
  }

  &::after {
    border-left: none;
    border-bottom-right-radius: 7px;
    right: -4px;
  }
}

.order-shipping-text {
  display: inline;
  line-height: 18px;
  padding-left: 35px;
  color: #444444;
  font-size: 15px;
  background-image: url("../img/shipping.png");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: top left;
}

.about-order {
  display: flex;
  float: right;
}

.order-details > p {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  padding: 18px 0 16px;
}

.order-prices {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 15px;
  padding: 0 18px;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 240px;
    background-image: url(../img/arrow.png);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    top: 38px;
    right: -36px;
  }
}

.price {
  font-size: 34px;
  line-height: 24px;
}

.price-old,
.price-new {
  margin: 0 7px;
}

.price-new .price {
  font-weight: 900;
  display: block;
  padding: 10px 10px 7px;
  border-radius: 7px;
  background-color: #ffc002;
}

.price-old .price {
  position: relative;
  display: block;
  padding: 10px;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ff6b00;
    position: absolute;
    transform: rotate(15deg);
    top: 19px;
    left: 0;
    right: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ff6b00;
    position: absolute;
    transform: rotate(-15deg);
    top: 19px;
    left: 0;
    right: 0;
  }
}

.price-new .price,
.price-old .price {
  margin-bottom: 0;
  white-space: nowrap;
}

.order-form-wrap {
  padding-left: 18px;
  padding-right: 18px;
}

.input-wrap {
  position: relative;

  &::before {
    content: "";
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 25px;
    display: block;
    position: absolute;
    left: 20px;
    top: 19px;
  }

  &--name::before {
    background-image: url("../img/form_name.png");
  }

  &--tel::before {
    background-image: url("../img/form_tel.png");
  }
}

.order-input {
  height: 65px;
  border-radius: 50px;
  background-color: #eef2f7;
  border: none;
  padding: 20px;
  padding-left: 55px;
  margin-bottom: 10px;
  width: 100%;
  transition: 0.2s ease-in;
  border: 1px solid #eef2f7;
}

.order-input:hover,
.order-input:focus {
  outline: none;
  border: 1px solid #cacfd6;
}

.btn-wrap {
  height: 70px;
  background-color: #ffbf02;
  border: 5px solid #ffbf02;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-btn {
  height: 65px;
  background-color: #ffbf02;
  border-radius: 50px;
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid rgba($color: #ffffff, $alpha: 0.3);
  transition: 0.2s ease-in-out;

  & span {
    display: block;
    font-size: 28px;
    line-height: 24px;
  }

  &:hover {
    box-shadow: 0px 0px 15px 5px #ffbf02;
    border: 7px solid rgba($color: #ffffff, $alpha: 0.3);
  }
}

.order-lefts {
  font-size: 18px;
  line-height: 18px;
  padding: 18px 10px 15px;
}

.order-guard-wrap {
  padding: 15px;
  background-color: #eef2f7;
  font-size: 15px;
  line-height: 16px;
  color: #666666;
  padding-left: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.order-guard {
  position: relative;
  text-align: center;
  display: inline;

  &::before {
    content: "";
    background-image: url("../img/guard.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 19px;
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    top: -2px;
  }
}

// Leead images position
.lead-imgs {
  max-width: 500px;
  width: 100%;
  position: relative;

  .foot {
    width: 745px;
    position: absolute;
  }

  .foot-bg {
    position: absolute;
    display: block;

    &::before {
      content: "";
      width: 700px;
      height: 700px;
      background-image: url("../img/white_half_circle.png");
      background-repeat: no-repeat;
      background-size: 700px;
      background-position: center;
    }
  }

  .lead-pills {
    position: absolute;
    width: 440px;
    height: 271px;
    bottom: -81px;
    left: 0px;

    img {
      display: block;
      position: absolute;
      bottom: 0;
    }

    .mikocin_1 {
      bottom: 0;
    }

    .herbs {
      top: 0px;
      right: -88px;
    }
  }

  .lead-gel {
    position: absolute;
    width: 479px;
    height: 205px;
    bottom: -123px;
    left: 112px;

    img {
      display: block;
      position: absolute;
    }

    .mikocin_2 {
      bottom: -23px;
    }

    .mikocin_3 {
      bottom: -97px;
      left: 136px;
    }
  }

  .lead-tablets {
    position: absolute;
    width: 186px;
    height: 97px;
    bottom: -129px;
    left: -9px;
  }
}

.lead-foot {
  position: absolute;
  left: -250px;
  top: -130px;

  &::after {
    content: "";
    display: block;
    width: 675px;
    height: 675px;
    background-image: url("../img/white_half_circle.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 124px;
    left: 115px;
    background-size: contain;
  }

  img {
    position: absolute;
    z-index: 2;
  }

  .foot-bg {
    top: 188px;
    left: 179px;
    width: 565px;
    display: block;
  }
}

.label-price {
  z-index: 5;
  position: absolute;
  display: inline-block;
  color: #ffffff;
  font-size: 34px;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 10px 7px;
  border-radius: 7px;

  &--orange {
    background-color: #ff6b00;
  }

  &--green {
    background-color: #a8ca3f;
  }
}

.lead-imgs {
  z-index: 3;
  .label-price {
    &--orange {
      top: -17px;
      right: 56px;
    }

    &--green {
      top: 15px;
      right: 75px;
    }
  }
}

@media screen and (max-width: 1299px) {
  .lead-mikocin {
    float: left;
  }

  .lead-imgs {
    max-width: 300px;

    .lead-pills {
      width: 250px;
      height: 186px;
      bottom: 0px;

      .mikocin_1 {
        width: 250px;
      }

      .herbs {
        top: 0;
        right: -115px;
        width: 200px;
      }

      .label-price--orange {
        right: -10px;
      }
    }

    .lead-gel {
      width: 280px;
      height: 140px;
      bottom: -25px;
      left: 80px;

      .mikocin_2 {
        width: 280px;
      }

      .mikocin_3 {
        width: 210px;
        bottom: -67px;
      }

      .label-price--green {
        right: -10px;
      }
    }

    .lead-tablets {
      display: none;
      bottom: -90px;
      img {
        width: 150px;
      }
    }
  }

  .order-prices {
    &::after {
      display: none;
    }
  }

  .lead-foot {
    .foot-bg {
      width: 450px;
    }
  }

  .lead-foot {
    left: -210px;
    &::after {
      width: 575px;
      height: 575px;
    }

    .foot-bg {
      top: 179px;
      left: 179px;
      width: 450px;
      display: block;
    }

    .foot {
      width: 650px;
    }
  }

  .main-lead-container {
    padding-bottom: 58px;
  }
}

@media (max-width: 1024px) {
  .main-lead {
    flex-direction: column-reverse;
  }

  .lead-foot {
    .foot {
      display: none;
    }

    .foot-bg {
      width: 350px;
      top: 605px;
      left: 252px;
    }

    &::after {
      width: 420px;
      height: 420px;
      top: 569px;
      left: 217px;
    }
  }

  .lead-imgs {
    position: relative;
    height: 200px;
    top: -50px;
    margin-left: 100px;
  }

  .lead-wrap {
    width: 100%;

    .about-order {
      width: 100%;
    }

    .about {
      max-width: 100%;
      width: auto;
    }
  }

  .advantages-list {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .advantages-wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .lead-wrap {
    .about-order {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .about-list {
    margin-bottom: 25px;
  }

  .lead-imgs {
    margin: 0 auto;
    top: 0;

    .lead-pills {
      width: 261px;
      height: 153px;
      .mikocin_1 {
        width: 200px;
      }

      .herbs {
        right: -37px;
        width: 150px;
      }
    }

    .lead-gel {
      width: 220px;

      .mikocin_2 {
        width: 200px;
        bottom: 0;
      }

      .mikocin_3 {
        width: 150px;
        left: 77px;
        bottom: -49px;
      }
    }

    .label-price--green {
      top: 27px;
      right: 24px;
    }
  }

  .lead-foot {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .main-lead {
    flex-direction: column;
  }

  .lead-imgs {
    height: 250px;

    .lead-gel {
      bottom: 50px;
    }

    .lead-pills {
      bottom: 80px;
    }
  }

  .advantages-wrap {
    margin-bottom: 10px;
  }

  .advantages-list {
    display: none;
  }

  .about-item {
    padding-left: 60px;
    min-height: auto;
    font-size: 16px;
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      width: 50px;
      height: 50px;
      border: solid 4px #e8edc9;
      font-size: 16px;
      line-height: 36px;
    }
  }

  .order-prices {
    &::after {
      display: block;
    }
  }
}

// description section
.description {
  margin-top: 60px;
  padding-top: 76px;
  background-image: url("../img/mikocon_full.svg");
  background-position: center top;
  background-size: 93px;
  background-repeat: no-repeat;

  .title-lg {
    text-align: center;
    margin: 15px auto;
  }

  .description-lead {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin: 40px auto;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .description {
    margin-top: 10px;
  }
}

.fungus-about-list {
  display: flex;
  margin-bottom: 60px;
}

.fungus-about-item {
  width: 33.33%;
  padding: 0 10px;
  position: relative;
  font-size: 18px;
  line-height: 28px;

  svg {
    flex: none;
    position: absolute;
    top: -17px;
    left: -17px;
  }

  &--first {
    svg path {
      fill: #ec9a6a;
    }
  }

  &--second {
    svg path {
      fill: #e47643;
    }
  }

  &--third {
    svg path {
      fill: #ec5b19;
    }
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: #ec9a6a;
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    z-index: 11;
    left: 133px;
    top: -4px;
  }

  &--first::before {
    content: "1";
    background-color: #ec9a6a;
  }

  &--second::before {
    content: "2";
    background-color: #e47643;
  }

  &--third::before {
    content: "3";
    background-color: #ec5b19;
  }
}

.fungus-about-item:not(:last-child) {
  margin-right: 65px;
}

.fungs-img-wrap {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  position: relative;
  color: #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  img {
    margin-right: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #becbd8;
    bottom: -30px;
    left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .fungus-about-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .fungus-about-item {
    width: 48%;
    margin: 0;
    margin-bottom: 60px;
    padding: 0 10px;
  }

  .fungus-about-item:not(:last-child) {
    margin: 0;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .fungus-about-item {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .fungus-about-item {
    width: 100%;
    padding: 0 20px;
  }

  .description {
    .title-lg {
      font-size: 30px;
      line-height: 35px;
    }

    .description-lead {
      font-size: 20px;
      line-height: 24px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .fungs-img-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .fungus-about-list {
    margin-bottom: 30px;
  }
}

// statistiks block
.attention {
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 40px;
    background-color: #fff;
    background-image: url("../img/statistics.png");
    background-size: 55px;
    background-position: center;
    background-repeat: no-repeat;
    top: -20px;
    left: 50%;
    transform: translateX(-85px);
  }
}

.attention-text {
  padding: 40px 70px;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  border: 3px solid #f4d3bb;
  border-radius: 7px;
}

@media screen and (max-width: 767.98px) {
  .attention-text {
    padding: 40px 20px;
    font-size: 20px;
  }
}
